{% extends "base.html" %}
{% block body %}
<div id="todo-list">
  {% for todo in todos %}
  <h1 id="todo-{{todo.id}}">
    {{ todo.name }}
    <a hx-get="{% url 'get_todo_htmx' todo.id %}" hx-target="#todo-tooltips">get detail</a>
    <a hx-get="{% url 'update_todo_htmx' todo.id %}" hx-target="#todo-tooltips">update todo</a>
    <a hx-delete="{% url 'delete_todo_htmx' todo.id %}" hx-target="#todo-{{todo.id}}"
      hx-confirm="are you sure you want to delete this todo {{ todo.name }}?">delete todo</a>
  </h1>

  {% endfor %}
</div>

<a hx-get="{% url 'create_todo_htmx' %}" hx-target="#todo-tooltips">create todo v1</a>
<a hx-get="{% url 'create_todo_htmx_v2' %}" hx-target="#todo-tooltips">create todo v2</a>
<h1 id="todos-length">Todos length is: {{ count }}</h1>

<div id="todo-tooltips"></div>


{% endblock body %}
